Source: qirp-sdk
Section: misc
Priority: optional
Maintainer: Dapeng Yuan <dapeyuan@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13)
Homepage:
Standards-Version: 3.9.2

Package: qirp-sdk
Architecture: any
Depends: ${misc:Depends},
         ros-jazzy-ros-base,
         ros-jazzy-ocr-service,
         ros-jazzy-rplidar-ros,
         ros-jazzy-orbbec-camera,
         ros-jazzy-lib-mem-dmabuf,
         ros-jazzy-qrb-ros-transport-image-type,
         ros-jazzy-qrb-ros-transport-point-cloud2-type,
         ros-jazzy-dmabuf-transport,
         ros-jazzy-qrb-ros-system-monitor,
         ros-jazzy-qrb-ros-audio-service,
         ros-jazzy-qrb-ros-system-monitor-interfaces,
         ros-jazzy-qrb-colorspace-convert-lib-opengles,
         ros-jazzy-qrb-ros-colorspace-convert-opengles,
         python3-pip,
         ros-jazzy-simulation-sample-amr-simple-motion,
         ros-jazzy-moveit,
         ros-jazzy-moveit-ros-perception,
         ros-jazzy-simulation-sample-pick-and-place,
Description: The Qualcomm® Intelligent Robotics (QIR) SDK is a collection of components that enable you to develop robotic features on Qualcomm platforms. This SDK is applicable to the Qualcomm Linux releases.
